.outcome {
  position: absolute;
  bottom: 32px;
  left: 200px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 7px;
  display: inline;
}


.card-header .bi {
  transition: 0.3s transform ease-in-out;
}
.card-header .collapsed .bi {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

.fade-in-out {
  opacity: 1;
  animation: fade 2s linear;
}
@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.score {
  font-size: 60px;
  border: 1px solid #333;
  border-radius: 5px;
  position: absolute;
  right: 50px;
  bottom: 100px;
  padding: 10px;
}

.score::before {
  content: "Score: ";
}


.flex button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.flex-item {
  padding: 12px;
  width: fit-content;
  flex-grow: 1;
}

.ans {
  width: 100%;
  min-width: 500px;
  background-color: #EFF0D1;
  color: #262730;
}
 .ans p {
   margin: 0;
   padding: 0;
 }

 

 .correct {
   background-color: #77BA99;
 }
 .incorrect {
  background-color: #D33F49;
  color: white;
}

.radios {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radios:checked + label {
  background-color: #77BA99;
}

.radios:focus + label {
  background-color: #77BA99;
  border: 1px solid #262730;
}

.custom-btn {
  color: #fff;
  background-color: #262730;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    #262730 0%,
    #77BA99 35%,
    #EFF0D1 100%
  );
}

.question-container {
  opacity: 1;
  transition: all 500ms;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.fade-out {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

.btn:hover {
  background-color: #D7C0D0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  color: #fff;
  position: relative;
  bottom: 0;
}


@media (max-width: 992px) {
  .score {
    font-size: 30px;
    right: 20px;
    bottom: 30px;
  }
  .outcome {
    display: none;
  }

  .ans {
    min-width: 150px;
  }

  .ans p {
    margin: 0 auto;
  }
  /* .ans-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  } */
}
@media (max-width: 350px) {
  .score {
    font-size: 20px;
    right: 20px;
    bottom: 40px;
  }
  .ans p {
    font-size: 14px;
  }

}

